<!DOCTYPE html>
<meta charset='utf-8'>
<html>
  <head> 	
    
	<!-- Custom CSS -->
	<!-- <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="assets/css/d3Style.css") }}'> -->
	<!-- <link rel="stylesheet" href="../assets/css/d3Style.css"> -->

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="assets/css/d3Style.css") }}'>


	<!-- d3 scripts -->
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <!-- <script src="https://d3js.org/d3-collection.v1.min.js"></script>
	<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
	<script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
	<script src="https://d3js.org/d3-timer.v1.min.js"></script>
	<script src="https://d3js.org/d3-force.v1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
    <script src="https://d3js.org/d3.v4.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script> -->
  </head>
  <body>
  	<div class="container-fluid">
  		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<button class="btn btn-primary btn-md" id="allvpn">All VPN</button>
					<button class="btn btn-primary btn-md" id="split">By Security</button>			
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12  col-md-9">
					<div class="chart">
		
					</div>	
				</div>
			</div>  
		</div>	
  	</div>
  	<!-- <script src="{{url_for('static', filename='d3bubble.js')}}" type="text/javascript"></script> -->
    <script type='text/javascript' src='../static/d3bubble.js'></script>
  </body>
</html>