<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/colreorder/1.4.1/js/dataTables.colReorder.min.js"></script>
</head>

<body>

  <div class="container">
    <br>
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="example" class="table table-striped sortable">
        <thead>

        </thead>
        <tfoot>

        </tfoot>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>

  <script src="static/dataTables.js" type="text/javascript"></script>
</body>

<footer>
  <br>
  <br>
  <div class="footer">
    <p class="text-center">
      <small>Credits: Data Used is taken from detailed VPN Comparison sheet created by
        <a href="https://thatoneprivacysite.net/">That One Privacy Site</a>, for the purpose of Data Science and Web Development Training Project.</small>
    </p>
    <p class="text-center">
      <small>VPN Comparison Data version is from 22-Nov-2017 update and has not been modified, but used for data visualizations
        and charts.</small>
    </p>
    <p class="text-center">
      <small>Contact: workingindataanalysis@gmail.com</small>
    </p>
    <p class="text-center">
      <small>This webpage is licensed under the
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="internal">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.</a>.</small>
    </p>
  </div>
</footer>

</html>