<!DOCTYPE html>
<meta charset='utf-8'>
<html>

<head>
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="styles.css") }}'>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron text-center" id="title">
			<h1>
				<strong>VPN Comparison Dashboard</strong>
			</h1>
			<p>Use the interactive chart below to explore the dataset
			</p>

		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6  col-md-12">
					<div class="iframeContainer d3bubble">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="d3bubble"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6  col-md-12">
					<div class="iframeContainer dataTables1">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="simpleComparison"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>
<footer>
	<br>
	<div class="footer">
		<p class="text-center">
			<small>Credits: Data Used is taken from detailed VPN Comparison sheet created by
				<a href="https://thatoneprivacysite.net/">That One Privacy Site</a>, for the purpose of Data Science and Web Development Training Project.</small>
		</p>
		<p class="text-center">
			<small>VPN Comparison Data version is from 22-Nov-2017 update and has not been modified, but used for data visualizations and
				charts.</small>
		</p>
		<p class="text-center">
			<small>Contact: workingindataanalysis@gmail.com</small>
		</p>
		<p class="text-center">
			<small>This webpage is licensed under the
				<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="internal">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.</a>.</small>
		</p>
	</div>
</footer>

</html>