<!DOCTYPE html>
<meta charset='utf-8'>
<html>

<head>
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="styles.css") }}'>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>VPN Comparison</title>
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron text-center" id="title">
				<h1>
					<strong>VPN Comparison Dashboard</strong>
				</h1>
				<p>Use the interactive charts below to find a suitable VPN Service 
				</p>
				<p>
					<small>To see what each filter field mean and how it is calculated, refer to this link
						<a href="https://thatoneprivacysite.net/vpn-chart-formulas/">
							<strong style="color:white;">here</strong>
						</a>. For description on all fields in VPN Detail section, refer to this link
						<a href="https://thatoneprivacysite.net/vpn-glossary/">
							<strong style="color:white;">here</strong>
						</a>
					</small>
				</p>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6  col-md-12">
					<div class="iframeContainer d3bubble">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="d3bubble"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-6  col-md-12">
					<div class="iframeContainer dataTables1">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="simpleComparison"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</body>
<footer>
	<br>
	<div class="footer">
		<p class="text-center">
			<small>Credits: Data Used is taken from detailed VPN Comparison sheet created by
				<a href="https://thatoneprivacysite.net/">That One Privacy Site</a>, for the purpose of Data Science and Web Development Training Project.</small>
		</p>
		<p class="text-center">
			<small>VPN Comparison Data version is from 12-Dec-2017 update and has not been modified, but used for data visualizations and
				charts.
			</small>
		</p>
		<p class="text-center">
			<small>Contact: workingindataanalysis@gmail.com</small>
		</p>
		<p class="text-center">
			<small>This webpage is licensed under the
				<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="internal">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License.</a>.</small>
		</p>
	</div>
</footer>

</html>